<div>
  <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column">
    <div class="android-TextView" style="height: unset;margin: 8.0px;width: unset;align-self: center">Hello View Generators!</div>
    <div class="id-theNumber android-TextView" style="height: unset;margin: 8.0px;width: unset;align-self: center"></div>
    <button class="id-incrementTheNumber android-Button" style="height: unset;margin: 8.0px;width: unset;align-self: center">Increment Number</button>
  </div>
</div>
