<div>
  <div class="android-LinearLayout" style="align-items: center;justify-content: center;height: unset;margin: 8.0px;width: unset">
    <div class="android-LinearLayout" style="height: unset;margin: 8.0px;width: unset;flex-direction: column">
      <div class="id-deviceName android-TextView style-Body" style="color: #222222ff;height: unset;width: unset"></div>
      <div class="id-deviceId android-TextView style-Body" style="color: #222222ff;height: unset;width: unset"></div>
    </div>
    <div class="android-Space" style="height: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
    <div class="id-rssi android-TextView style-Body" style="color: #222222ff;height: unset;margin: 8.0px;width: unset"></div>
    <button class="drawable-button_primary id-connect android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Connect</button>
  </div>
</div>
