<div>
  <div class="android-LinearLayout" style="align-items: center;justify-content: center;margin: 8.0px">
    <div class="android-LinearLayout" style="margin: 8.0px;flex-direction: column">
      <div class="id-deviceName android-TextView style-Body">Name of Device</div>
      <div class="id-deviceId android-TextView style-Body">AA:AA:AA:AA</div>
    </div>
    <div class="android-Space" style="height: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
    <div class="id-rssi android-TextView style-Body" style="margin: 8.0px">-42 db</div>
    <button class="id-connect android-Button style-ButtonPrimary" style="margin: 8.0px">Connect</button>
  </div>
</div>
