<div>
  <div class="id-scrollView android-ScrollView" style="height: unset;width: unset;flex-direction: column">
    <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column;padding: 8.0px">
      <div class="android-TextView style-Header" style="color: #000000ff;height: unset;margin: 8.0px;width: unset">Welcome!</div>
      <div class="android-TextView style-Body" style="color: #222222ff;height: unset;margin: 8.0px;width: unset">This an example for LK Rx. This screen exists to help you figure out stuff about it.</div>
      <div class="android-LinearLayout" style="align-items: center;justify-content: center;height: unset;width: unset;align-self: stretch">
        <div class="id-exampleContentNumber android-TextView style-Body" style="color: #222222ff;height: unset;margin: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
        <button class="drawable-button_primary id-exampleContentIncrement android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Increment the Number</button>
      </div>
      <div class="android-LinearLayout" style="align-items: center;justify-content: center;height: unset;width: unset;align-self: stretch">
        <div class="id-chainedNumber android-TextView style-Body" style="color: #222222ff;height: unset;margin: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
        <button class="drawable-button_primary id-chainedIncrement android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Increment the Number</button>
      </div>
      <img class="android-ImageView" src="../drawables/reason_expertise.png" style="height: 50.0px;width: 100.0px"><button class="drawable-button_primary id-scrollToTop android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Scroll to Top</button>
      <div class="id-sub android-include" style="align-self: stretch"></div>
    </div>
  </div>
</div>
