<div>
  <div class="id-scrollView android-ScrollView" style="flex-direction: column">
    <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
      <div class="android-TextView style-Header" style="margin: 8.0px">Welcome!</div>
      <div class="android-TextView style-Body" style="margin: 8.0px">This an example for LK Rx. This screen exists to help you figure out stuff about it.</div>
      <div class="android-LinearLayout" style="align-items: center;justify-content: center;align-self: stretch">
        <div class="id-exampleContentNumber android-TextView style-Body" style="margin: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
        <button class="id-exampleContentIncrement android-Button style-ButtonPrimary" style="margin: 8.0px">Increment the Number</button>
      </div>
      <div class="android-LinearLayout" style="align-items: center;justify-content: center;align-self: stretch">
        <div class="id-chainedNumber android-TextView style-Body" style="margin: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px"></div>
        <button class="id-chainedIncrement android-Button style-ButtonPrimary" style="margin: 8.0px">Increment the Number</button>
      </div>
      <img class="android-ImageView" src="../drawables/reason_expertise.png" style="height: 50.0px;width: 100.0px"><button class="id-scrollToTop android-Button style-ButtonPrimary" style="margin: 8.0px">Scroll to Top</button>
    </div>
  </div>
</div>
