<div>
  <div class="id-scrollView android-ScrollView" style="height: unset;width: unset;flex-direction: column">
    <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column;padding: 8.0px">
      <button class="drawable-button_primary id-openMap android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Show me Lightning Kite's Location</button><button class="drawable-button_primary id-openWeb android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Show me Lightning Kite's Website</button><button class="drawable-button_primary id-openEvent android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset">Show me a future event</button>
    </div>
  </div>
</div>
