<div>
  <div class="id-scrollView android-ScrollView" style="flex-direction: column">
    <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
      <button class="id-openMap android-Button style-ButtonPrimary" style="margin: 8.0px">Show me Lightning Kite's Location</button><button class="id-openWeb android-Button style-ButtonPrimary" style="margin: 8.0px">Show me Lightning Kite's Website</button><button class="id-openEvent android-Button style-ButtonPrimary" style="margin: 8.0px">Show me a future event</button>
    </div>
  </div>
</div>
