<div>
  <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column;padding: 8.0px">
    <div class="android-TextView style-Body" style="color: #222222ff;height: unset;width: unset;align-self: stretch">This data is loaded from JSON Placeholder Typicode.</div>
    <progress class="id-progress android-ProgressBar" style="height: unset;width: unset;align-self: stretch"></progress>
    <div class="id-items android-RecyclerView" style="height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: unset;align-self: stretch"></div>
  </div>
</div>
