<div>
  <div class="android-ScrollView">
    <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
      <div class="android-TextView style-Header" style="margin: 8.0px">Welcome to Switch Town!</div>
      <input class="drawable-border id-username android-EditText style-Body" inputmode="email" placeholder="Username" style="margin: 8.0px;min-height: 40.0px;padding: 8.0px;align-self: stretch" type="text"><input class="drawable-border id-password android-EditText style-Body" placeholder="Password" style="margin: 8.0px;min-height: 40.0px;padding: 8.0px;align-self: stretch" type="password"><input class="drawable-border id-verifyPassword android-EditText style-Body" placeholder="Verify Password" style="margin: 8.0px;min-height: 40.0px;padding: 8.0px;align-self: stretch" type="password"><label class="id-agree android-CheckBox" style="margin: 8.0px;align-self: stretch"><input class="id-agree-input" type="checkbox"><span class="id-agree-label">I Agree to the Terms of Service</span></label>
      <div class="id-submitLoading android-ViewFlipper" style="align-self: stretch">
        <button class="id-submit android-Button style-ButtonPrimary" style="justify-self: stretch;align-self: start">Submit</button>
      </div>
    </div>
  </div>
</div>
