<div>
    <div class="android-ScrollView" style="height: unset;width: unset">
        <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column;padding: 8.0px">
            <div class="android-TextView style-Header"
                 style="color: #000000ff;height: unset;margin: 8.0px;width: unset">Welcome to Switch Town!
            </div>
            <input class="drawable-border id-username android-EditText style-Body" inputmode="email"
                   placeholder="Username"
                   style="color: #222222ff;height: unset;margin: 8.0px;width: unset;min-height: 40.0px;padding: 8.0px;align-self: stretch"
                   type="text">
          <input class="drawable-border id-password android-EditText style-Body"
                                      placeholder="Password"
                                      style="color: #222222ff;height: unset;margin: 8.0px;width: unset;min-height: 40.0px;padding: 8.0px;align-self: stretch"
                                      type="password">
          <input
                class="drawable-border id-verifyPassword android-EditText style-Body" placeholder="Verify Password"
                style="color: #222222ff;height: unset;margin: 8.0px;width: unset;min-height: 40.0px;padding: 8.0px;align-self: stretch"
                type="password"><label class="id-agree android-CheckBox"
                                       style="height: unset;margin: 8.0px;width: unset;align-self: stretch">
          <input
                class="id-agree-input" type="checkbox"><span
                class="id-agree-label">I Agree to the Terms of Service</span></label>
            <div class="id-submitLoading android-ViewFlipper" style="height: unset;width: unset;align-self: stretch">
                <button class="drawable-button_primary id-submit android-Button style-ButtonPrimary"
                        style="color: #ffffffff;height: unset;width: unset;justify-self: stretch;align-self: start">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
