<div>
  <div class="android-LinearLayout" style="background-color: #00ff00ff;flex-direction: column">
    <div class="id-topBar android-LinearLayout" style="background-color: #10769cff;align-items: center;justify-content: center;padding-left: 8.0px;padding-right: 8.0px;align-self: stretch">
      <button class="container id-mainBack android-ImageButton" style="background-color: #00000000;padding: 8.0px"><img class="id-mainBack-image" src="../drawables/ic_arrow_back_white_24dp.svg"></button>
      <div class="id-title android-TextView style-AppBarTitle" style="flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px">Lightning Kite Rx Example</div>
    </div>
    <div class="id-mainContent android-SwapView" style="background-color: #ffffffff;height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;align-self: stretch"></div>
    <div class="id-bottom0 android-View" style="background-color: #10769cff;height: 0.0px;align-self: stretch"></div>
  </div>
</div>
