<div>
  <div class="android-LinearLayout" style="flex-direction: column">
    <div class="id-viewName android-TextView style-Body" style="align-items: center;justify-content: center;padding: 8.0px;align-self: stretch">View Name</div>
    <div class="id-pager android-ViewPager" style="background-color: #ffffffff;height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;align-self: stretch">
      <div class="pager-content id-pager-container"></div>
      <button class="pager-prev id-pager-previous"><span class="material-icons">arrow_back</span></button><button class="pager-next id-pager-next"><span class="material-icons">arrow_forward</span></button>
    </div>
  </div>
</div>
