<div>
  <div class="android-ScrollView">
    <div class="android-LinearLayout" style="flex-direction: column">
      <input class="id-slider android-SeekBar" max="100" min="0" style="margin: 16.0px;align-self: stretch" type="range" value="50">
      <div class="id-valueDisplay android-TextView style-Header" style="margin: 16.0px;align-self: stretch"></div>
      <progress class="id-progress android-ProgressBar" style="margin: 8.0px;align-self: stretch"></progress>
      <input class="id-rating android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4"><input class="id-ratingDisplayStars android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4"><input class="id-ratingDisplayStarsSmall android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4">
      <div class="id-ratingDisplayNumber android-TextView style-Header" style="margin: 16.0px;align-self: stretch"></div>
      <input class="id-ratingFloat android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4"><input class="id-ratingDisplayStarsFloat android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4"><input class="id-ratingDisplayStarsSmallFloat android-RatingBar" max="5" min="0" style="margin: 16.0px" type="range" value="4">
      <div class="id-ratingDisplayNumberFloat android-TextView style-Header" style="margin: 16.0px;align-self: stretch"></div>
    </div>
  </div>
</div>
