<div>
  <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column">
    <video class="id-video android-StyledPlayerView" controls="true" crossorigin="anonymous" style="height: 200.0px;width: unset;align-self: stretch"></video>
    <button class="drawable-button_primary id-gallery android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset;align-self: stretch">Gallery</button><button class="drawable-button_primary id-camera android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset;align-self: stretch">Camera</button><button class="drawable-button_primary id-galleryMulti android-Button style-ButtonPrimary" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset;align-self: stretch">Gallery Multiple</button>
  </div>
</div>
