<div>
  <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
    <div class="android-TextView style-Body" style="align-self: stretch">This attaches to a socket that just echos the value back.</div>
    <div class="id-items android-RecyclerView" style="height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;align-self: stretch"></div>
    <div class="android-LinearLayout" style="align-items: center;justify-content: center;align-self: stretch">
      <input class="id-input android-EditText style-Body" style="margin: 8.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px" type="text"><button class="container id-submit android-ImageButton"><img class="id-submit-image" src="../drawables/ic_send_black_24dp.svg"></button>
    </div>
  </div>
</div>
